@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600');

:root {
	/* Colors */
	--light-blue: #2d9cdb;
	--white: #fff;
	--white-light: #f6f6f6;
	--white-medium: #f2f2f2;
	--grey: #aaa8a8;
	--black: #333333;
	--error: #ea2b70;

	/* Font Sizes */
	--mobile-title: 1.25rem;
	--title: 1.5rem;
	--regular: 0.875rem;
	--medium: 1.3125rem;
	--medium-mobile: 1.125rem;
}

* {
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: var(--regular);
	font-weight: 400;

	color: var(--black);
	background-color: var(--white);
}

a {
	text-decoration: none;
	color: var(--white-medium);
}

ul {
	list-style: none;
	padding: 0;
}

input {
	border: none;
	background-color: var(--white-light);
	color: var(--black);

	padding: 1em;
	font-size: var(--regular);
}

button {
	padding: 0.5em;
	font-size: var(--medium-mobile);
	font-weight: 500;

	border: none;
	color: var(--white-medium);
	background-color: var(--light-blue);
}

button:hover,
button:focus {
	background-color: var(--black);
	cursor: pointer;
}

/* Typography */
h1 {
	font-size: var(--mobile-title);
	font-weight: 600;
	text-align: center;
}

/* layout */
.flex {
	display: flex;
	justify-content: space-between;
}

.container {
	width: 90%;
	margin: 0 auto;
	max-width: 1200px;
}

.container-tasks {
	overflow: auto;
	margin: 1.75em auto;
	padding-bottom: 1em;
	box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.1);
}

.container h1 {
	text-transform: uppercase;
	margin: 1.4em 0;
}

/* Navbar */
nav {
	padding: 1.5em 0;
	background: var(--light-blue);
	color: var(--white);
}

/* Form */
.frmAdd {
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.btn-add {
	margin-top: 0.65em;
}

/* Tasks section */
.task-list {
	margin-top: 2.5em;
}

/* Task */
.task {
	margin-bottom: 2em;
	box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.1);
}

.task-description {
	padding: 1em;
}

.task-description.done {
	text-decoration: line-through;
	color: var(--grey);
}

/* Task actions */
.task-actions {
	display: flex;
	justify-content: space-between;

	padding: 1em;
	color: var(--grey);
	border-top: 1px solid var(--white-medium);
}

.task-actions li:hover,
.task-actions li:focus {
	font-weight: 500;
	cursor: pointer;
	color: var(--light-blue);
}

.task-actions .delete:hover,
.task-actions .delete:focus {
	color: var(--error); /* !important if we remove .task-actions*/
}

.hidden {
	display: none;
}

/* Form Edit */
.frmEdit {
	width: 90%;
	margin: 0 auto;
	padding: 1em 0;
}

.frmEdit input {
	width: 100%;
	margin-bottom: 0.75em;
}

.btn-edit,
.btn-return {
	font-size: 1rem;
	width: 48%;
}

.btn-edit:hover,
.btn-edit:focus {
	border-color: var(--black);
}

.btn-return {
	background-color: var(--white);
	color: var(--grey);
	border: 2px solid var(--white-medium);
}

.btn-return:hover,
.btn-return:focus {
	background-color: var(--black);
	color: var(--white);
	border-color: transparent;
}

/* Media Queries */
@media (min-width: 900px) {
	body {
		font-size: var(--medium-mobile);
	}

	/* Layout */
	.container {
		width: 85%;
	}

	.container-tasks {
		margin-top: 5em;
	}

	h1 {
		font-size: var(--title);
	}

	/* Form */
	.frmAdd {
		width: 85%;
	}

	.frmAdd {
		flex-direction: row;
	}

	.frmAdd input {
		width: 100%;
	}

	.btn-add {
		margin: 0;
		padding: 0.5em 2em;
	}

	/* Task */
	.task {
		display: flex;
		justify-content: space-between;
	}

	.task-description {
		width: 100%;
	}

	.task-actions li + li {
		margin-left: 1.5em;
	}

	.btn-edit,
	.btn-return {
		width: inherit;
		padding: 0.5em 1.75em;
	}

	.frmEdit .btn-edit {
		margin-left: 1.5em;
	}

	.frmEdit .btn-return {
		margin-left: auto;
	}
}

@media (min-width: 1200px) {
	.container h1 {
		margin: 1.85em 0;
	}

	.container-tasks {
		padding-bottom: 2.5em;
	}

	.frmAdd,
	.task-list {
		width: 70%;
	}

	.btn-add {
		padding: 0 2.5em;
		font-size: var(--medium);
	}

	.frmAdd input {
		font-size: 1rem;
	}

	.frmAdd input,
	.task-description {
		padding: 1.15em 1.667em;
	}
}
